body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-group {
  padding: 1em;
}

h3 {
  color: #24873A;
  font-weight: 600;
}
label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  color: #24873A;
  font-weight: 600;
}

.table {
  padding-bottom: 4em;
}


.card-subtitle {
  font-weight: 600;
  color: #24873A;
  padding-bottom: 2px;
  padding-top: 6px;
}
