.searchInputs {
    margin-top: 105px;
    display: flex;
    margin-bottom: 12px;
    margin-top: 0;
}

input {
    border: 1px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}